.cart-overlay-section{
    background: #39374838;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -1314.5px;
    top: 24px;
    font-family: Raleway;
}
.cart-overlay-container{
    width: 325px;
    height: 540px;
    background: #FFFFFF;
    position: absolute;
    top: 0px;
    right: 70px;
    padding: 8px 16px;
    transition:  ease-in-out 1s;
}
.cart-overlay-title{
    font-size: 16px;
    font-weight: 700;
    margin: 3px 0 25px 0;
}
.cart-overlay-title > span{
    font-weight: 500;
}
.added-product-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}
.added-product-left{
    width: 55%;
}
.added-product-right{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.added-product-left > p{
    font-size: 16px;
    color: #1D1F22;
    line-height: 25.6px;
    margin: 0;
}
.cart-overlay-price{
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
}
.cart-overlay-size-btns{
    margin-top: 27px;
}
.cart-overlay-size-btn{
    width: 24px;
    height: 24px;
    color: #1D1F22;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid #1D1F22;
    margin-right: 8px;
    cursor: pointer;
}
.increase-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.increase-btns > button{
    width: 24px;
    height: 24px;
    border: 1px solid #1D1F22;
    color: #1D1F22;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}
.increase-btns > p{
    color: #1D1F22;
    font-size: 16px;
    font-weight: 500;
}
.cart-overlay-img{
    width: 105px;
    height: 137px;
}
.total-price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-price-title{
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.total-price{
    font-weight: 700;
    font-size: 16px;
}
.added-product-bottom-btns{
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
}
.view-bag-btn{
    width: 140px;
    height: 43px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #1D1F22;
    border: 1px solid #1D1F22;
    background-color: #FFFFFF;
    padding: 16px, 32px, 16px, 32px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.view-bag-btn:hover{
    background-color: #5ECE7B;
    color: #FFFFFF;
    border: none;
}
.check-out-btn{
    width: 140px;
    height: 43px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #5ECE7B;
    padding: 16px, 32px, 16px, 32px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.check-out-btn:hover{
    color: #1D1F22;
    border: 1px solid #1D1F22;
    background-color: #FFFFFF;
}