#navbar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    z-index: 2;
}
#navbar{
    display: flex;
}
#navbar > li {
    list-style: none;
    padding-left: 33px;
}
.nav-link{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding:0 15px 25px 15px;
}
.navbar-center{
    text-align: center;
    margin-right: 43px;
}
.bag{
    width:31.18px;
    height: 28.62px;
    margin-top: 5px;
}
.navbar-right{
    margin-right: 73px;
    display: flex;
    align-items: center;
}

#currency-dropdown{
    width: 40px;
}
#selected-currency{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    cursor: pointer;
}
#selected-currency > img {
    width: 10px;
    height: 10px;
}
#selected-currency > p{
    font-size: 18px;
    font-weight: 500;
}

#list{
    position: absolute;
    top: 6%;
    z-index: 1;
    background-color: #ffffff;
    /* border: 1px solid black; */
}
.hide-currency{
    border: 1px solid red;
}
.option{
    list-style: none;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
}
.symbol{
    margin-right: 5px;
}
.cart-icon-container{
    position: relative;
    z-index: 1;
}

.dropdown.active > .cart-overlay-btn, .cart-overlay-btn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-left: 20px;
    color: #43464E;
    cursor: pointer;
    position: relative;
}
.cart-item-length{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1D1F22;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15%;
    left: 55%;
}
.dropdown-menu{
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
    pointer-events: none;
    position: absolute;
} 
.dropdown.active > .cart-overlay-btn + .dropdown-menu{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}
