.women-section{
    padding: 0 70px;
    font-family: Raleway;
}
.women-card-container{
    display: flex;
    justify-content: center;
}
.page-tile{
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 40px;

}
.product-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}
.card{
    width: 386px;
    height: 444px;
    border-radius: 0px;
    padding: 16px 0 0 0;
    margin-top: 50px;
    cursor: pointer;
    background: #FFFFFF;
    position: relative;
    box-shadow: 1px 1px 40px -7px rgba(0,0,0,0.2);
}
.product-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-img{
    width:354px;
    height:330px;
}
.product-title{
    font-size: 18px;
    color: #1D1F22;
    font-weight: 300;
    margin-top: 30px;
}
.product-price{
    font-size: 18px;
    color: #1D1F22;
    font-weight: 500;
    margin-top: -10px;
}
.add-to-cart{
    position: absolute;
    top: 67%;
    left: 78%;
    width: 52px;
    height: 53px;
    border-radius: 50%;
    background-color: #5ECE7B;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.product-cart-icon{
    font-size: 24px;
    color: white;
}
.card:hover > .add-to-cart{
    display: flex;
}